/* Media attributes for all Media Queries */
/* and initial media  */
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.logo > img {
  width: 50px;
}

section {
	border: 1px solid #6278B0;
	margin: 5px; 
}

ol, li {
	list-style: none;
}
menu ul  {
	width: 80%;
}

/*ELEMENTS INSIDE NAVBAR*/
/* 1° Element */
.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #949494;
}

/* 2° Element  */
.menu {
	display: flex;
	width: 80%;
}
/* 3° Element inside menu */
.menu > li {
	width:25%;
	/*Disappear Text*/
	color: #949494;
}
/* 2° Element */
.hamburger {
	width: 10%;
	align-self: flex-end;
	color: white;
	padding: 0;
	text-align: right;
}

/* Footer List */
.social {
	display: flex;
}
/* li elements inside social only*/
.social > li {
	width: 33%;
}

/* Change the header */
@media (min-width: 600px) and (max-width: 990px){
	header {
		display: flex;
	}
	.logo {
		width: 40%;
		align-self: center;
	}
	header > h1{
		width: 60%;
		text-align: left;
	}
}


/* */ 
@media (min-width: 991px){
	/* header */
	header {
		display: flex;
	}
	.logo {
		width: 33%;
		align-self: center;
	}
	header > h1{
		width: 66%;
		text-align: left;
	}
	/* body*/
	main {
		display: flex;
	}
	.product{
		width: 33%;
	}
	/* Appear Elements*/
	.menu {
		justify-content: flex-end;
	}
	.menu > li {
		/*Appear Text*/
		color: white;
		width: 10%;
	}

	.hamburger {
		color: #949494;
		/*color: white;*/
		padding: 0;
		text-align: right;
		width:1%;
	}
}
